[submodule "vim/vim/bundle/vim-go"]
	path = vim/vim/bundle/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "vim/vim/bundle/vim-pathogen"]
	path = vim/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen
